{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<body style="background-image : url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOvSnc5WClBMOwuunP8PriyTBHVoflEcor96UkTHJkiQShQ24y');background-repeat:no-repeat:">
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

{% comment %} <div class="container" style="text-align: center; background-image: url('https://previews.123rf.com/images/neirfy/neirfy1702/neirfy170200441/73747674-feminine-workspace-with-empty-ruled-notebook-hand-writting-in-it-coffee-flowers-and-laptop-keyboard.jpg'); background-repeat ;"> {% endcomment %}
  <div class="jumbotron text-center mb-0" id="jumbo" style="background-color:transparent;">

    <h1 class="h1" style="font-family: 'Dosis', cursive; color:blue;font-size:70px;">Awards</h1>
    <p class="h1" style="font-family: 'Dosis', cursive; color:black;font-size:25px;">View projects, submit your own projects and have them reviewed.</p>
  </div>
</div>


<div class="jumbotron itson mb-3 " style="background-color:transparent">

  <div class="card-deck flex-wrap">
    {% for project in projects %}
    <img src="{{project.project_image.url}}" data-target="#imageModal{{project.id}}" data-toggle="modal" alt="" class="img-fluid"
          id="eachimage1" size="100px200">
    <div class="card border-secondary w-33"><a href="{% url 'project' project.id %}"></a>

         
      <p style="font-family: 'Dosis', sans-serif; text-align:center;"> {{ project.description}}</p>
     <p style="font-family: 'Dosis', sans-serif; text-align:center;"> {{ project.user.username}}</p>
     <span class="btn btn danger" style="font-family: 'Dosis', sans-serif;">
       <a href="{{ project.project_url}}">Visit Site</a></span>
      <span class="badge badge-pill badge-danger" style="font-family: 'Dosis', sans-serif; text-align:center;">Like</span>
  <span class="btn btn danger" style="font-family: 'Dosis', sans-serif; text-align:center;"><a href="{% url 'project' project.id %}">View Project</a></span>

    </div>
    {% endfor %}
  </div>


</div>

<div class="jumbotron text-center mt-3" style="background-color:transparent;font-family: 'Dosis', sans-serif;">

  <form action="{%url 'homePage'%}" method="post">
    {%csrf_token%} {% bootstrap_form letterForm %}
    <input type="submit" style="background-color:white;" value="Subscribe To Awards ">
  </form>

</div>


<div class="container">
  <div class="col-md-12">
    <div class="footer text-center">
      <ul id="footer1">
        
        

        <li style="font-size:10px;"> <strong>© 2019 JULIE K</strong></li>
      </ul>
    </div>
  </div>

{% endblock %} {% block scripts %} {{block.super}}
<script type="text/javascript" src="{%static 'js/scripts.js'%}"></script>
</body>

{% endblock %}
