{% load static %}
{%load bootstrap3 %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
{% if user.is_authenticated %}
<nav class="navbar fixed-top">
  <section class="logo-section"><img class="logo" src="data:image/jpeg;base64,/9j/=="/>
    {% comment %} <a href="{% url 'home' %}"><img class="logoname" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE8fwazGLxu-1MJspmyNtAXdCmHAkV7twLj5JBQjJeQFh5p5k8"/></a> {% endcomment %}
    </section>
    <form class="search-section" role="search" action="{% url 'search_projects' %}">
      <input class="input-search" type="search" name="project" placeholder="Search "/>
      <button class="btn btn-default btn-sm" type="submit" >search</button>
    </form>
      <section class="icons-section" >
      <a href="/"><i style="color:black;" class="fa fa-align-justify "></i></a>
       <a href="{%url 'new_project'%}">Submit Your Project</a>
      
      <a href="{% url 'individual_profile_page' user.id %}">My Profile</a>
      
      <a href="{% url 'edit_profile' %}"><i style="color:black;" class="fa fa-user "></i>Edit profile</a>
      
      <a href="/logout"><i style="color:black;" class="fa fa-sign-out-alt "></i>logout</a>
      </section>
  </nav>
  {% endif %}

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
