{%extends 'base.html'%} {% block content %}
<div class="container"style="text-align: center; background-image: url('https://i.pinimg.com/originals/ad/74/e4/ad74e4968fa447ed2c8284820f656b72.jpg') >

  <div class="row">
    {% if profiles %}
    <h2 style="font-family: 'Kodchasan', sans-serif;color:white;"> Here are profiles of your search term: {{message}}</h2>
    {% else %}
    <h2 style="font-family: 'Kodchasan', sans-serif;color:white;"> It appears that there are 0 profiles for your search term
      {{message}}, please try again. </h2>
    {% endif %}

  </div>

  <h1 style="font-family: 'Dosis', sans-serif;"><strong> These are the projects found </strong></h1>

  {% for profile in profiles %}
  <p style="font-family: 'Dosis', sans-serif;"><a href="{% url 'individual_profile_page' profile.user.id %}"> {{profile.user.username}}</a></p>
  {% endfor %}


  <div class="row">

    {% if projects %}
    <div class="container">

      <div class="card-columns">

        {% for project in projects %}
        <div class="card border-secondary">
          {% comment %} <img src="{{project.project_image.url}}" data-target="#imageModal{{project.id}}" data-toggle="modal" alt="" class="img-fluid" id="eachimage"
            size="100px200"> {% endcomment %}
        </div>
        {% endfor %}
      </div>
    </div>

    {% endif %}
  </div>
</div>



<div class="container">
    <div class="col-md-12">
      <div class="footer text-center">
        <ul id="footer1">
    

          <li style="font-size:10px;"> <strong>© 2019 JULIE K</strong></li>
        </ul>

      </div>

    </div>
  </div>
{% endblock %}